<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<script type="text/javascript" src="/angular.min.js"></script>
		<script type="text/javascript" src="/angular-animate.min.js"></script>
		<script type="text/javascript" src="/angular-aria.min.js"></script>
		<script type="text/javascript" src="/angular-material.min.js"></script>
		<script type="text/javascript" src="/js/index.js"></script>

		<link rel="stylesheet" href="/angular-material.min.css">
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<div ng-controller="SideNavController" layout="row">
			<md-toolbar>
				<h2 class="md-toolbar-tools">
					PicTapp
				</h2>
			</md-toolbar>
		</div>
		<div ng-controller="SideNavController" layout="column" style="height:100%;">
			<section layout="row" flex>
				<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
					<md-toolbar class="md-theme-indigo">
						<h1 class="md-toolbar-tools">Sidenav Left</h1>
					</md-toolbar>
				</md-sidenav>
			</section>
		</div>
	</body>
</html>